html,
body{
	height: 100%;
}
.wrap{
	width: 100%;
	height: 100%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}
h2{
	text-align: center;
	color: blueviolet;
}
.navi-bg{
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(148, 174, 223);
}
.fa-bars {
	position: absolute;
	color: #f8f8f8;
	font-size: 2rem;
	top: 30px;
	right: 30px;
	cursor: pointer;
}
.fa-times{
	position: absolute;
	color: #000000;
	font-size: 2rem;
	top: 30px;
	right: 30px;
	cursor: pointer;
	display: none;
}