.box{
	margin: 30px;
	padding: 40px;
	border: 20px solid red;
	width: 300px;
	height: 300px;
}


/* 1번 banner */
.banner{
	overflow: hidden;
	position: relative;
}

.slides {
	position: relative;
}
.slides > .slide {
	position: absolute;
	top: 0;
	width: 100%;
}

.slides2 {
	position: relative;
}

.slides2 > .slide {
	position: absolute;
	top: 0;
	width: 100%;
}

.slides3 {
	position: absolute;
	width: 100%;
}

.slides4 {
	position: relative;
}
.slides4 > .slide {
	position: absolute;
	top: 0;
	width: 100%;
}

.pager{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	bottom: 5%;
	z-index: 9999;
}
.pager > li{
	height: 16px;
	border-radius: 8px;
	margin: 0 5px;
	cursor: pointer;
	border: 3px solid #333;
}
.pager>.cir{
	width: 16px;
}
.pager>.cir-sel{
	width: 32px;
	background-color: blueviolet;
}

